<section>
    <header>
        <h3>{{ .Site.Data.social.title }}</h3>
        
                 <!-- Dark mode -->      
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.1/lib/darkmode-js.min.js"></script>
<script>
    var options = {
  bottom: '64px', // default: '32px'
  right: 'unset', // default: '32px'
  left: '32px', // default: 'unset'
  time: '0.5s', // default: '0.3s'
  mixColor: '#fff', // default: '#fff'
  backgroundColor: '#fff',  // default: '#fff'
  buttonColorDark: '#100f2c',  // default: '#100f2c'
  buttonColorLight: '#fff', // default: '#fff'
  saveInCookies: true, // default: true,
  label: '◐', // default: ''
  autoMatchOsTheme: true // default: true
}
const darkmode = new Darkmode(options);
darkmode.showWidget();
</script>        
 <!-- Dark mode --> 
        
    </header>
    {{ partial "markdownify-block" .Site.Data.social.social_content }}
    <ul class="icons">
        {{ range $link := .Site.Data.social.social_links }}
            <li><a href="{{ $link.link_url }}" class="icon {{ $link.icon }}"><span class="label">{{ $link.title }}</span></a></li>
        {{ end }}
    </ul>
</section>
